.btn {
    &-menu,
    &-back {
        @include black-box;
        padding: 1rem;
        transition: all 0.2s;
        position: sticky;
        top: 3%;
        left: 85%;
        z-index: 90;

        @include respond(tab-port) {
            left: 83%;
        }

        @include respond(phone) {
            left: 77%;
        }

        @include respond(phone-small) {
            left: 74%;
        }

        &:hover,
        &:focus {
            transform: translateY(-0.2rem);
            box-shadow: 0 0.5rem 0.5rem $color-text;
            cursor: pointer;
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 0.3rem 0.3rem $color-text;
        }
    }

    &-back {
        left: 85%;

        @include respond(tab-port) {
            left: 83%;
        }

        @include respond(phone) {
            left: 77%;
        }

        @include respond(phone-small) {
            left: 74%;
        }
    }

    &-new-card {
        all: unset;
        width: 10rem;
        margin: 2.5rem 0;
        border-radius: 50%;
        transition: all 0.2s;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include respond(tab-port) {
            position: sticky;
            top: 2rem;
            z-index: 90;
        }

        &:hover,
        &:focus {
            transform: translate(-50%, -0.5rem);
            box-shadow: 0 1.3rem 1rem $color-text;
            cursor: pointer;
        }

        &:active {
            transform: translate(-50%, 0);
            box-shadow: 0 1rem 1rem $color-text;
        }
    }

    &-pokeball {
        width: 100%;
        display: block;
    }
}

.disappear {
    opacity: 0;
}
