.btn {
    &-menu,
    &-back {
        @include black-box;
        padding: 1rem;
        transition: all 0.2s;
        position: sticky;
        top: 5%;
        left: 87%;
        z-index: 90;

        &:hover,
        &:focus {
            transform: translateY(-0.2rem);
            box-shadow: 0 0.5rem 0.5rem $color-text;
            cursor: pointer;
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 0.3rem 0.3rem $color-text;
        }
    }

    &-new-card {
        all: unset;
        width: 10rem;
        margin: 4rem 0 3rem 0;
        border-radius: 50%;
        transition: all 0.2s;

        &:hover,
        &:focus {
            transform: translateY(-0.5rem);
            box-shadow: 0 1.3rem 1rem $color-text;
            cursor: pointer;
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 1rem 1rem $color-text;
        }
    }

    &-pokeball {
        width: 100%;
        display: block;
    }
}

.hide {
    display: none;
}
