.header {
    &-main {
        text-shadow: 0 1rem 3px #000;

        @include respond(tab-port) {
            width: 90%;
            display: inline-block;
        }
    }

    &-text {
        @include black-box;
        display: inline-block;
        padding: 1rem 2rem;
        width: 60%;

        @include respond(tab-port) {
            width: 90%;
        }
    }
}
