.header {
    position: relative;
    top: -6rem;

    @include respond(tab-port) {
        top: 0;
    }

    &-main {
        text-shadow: 0 1rem 3px #000;
        margin: 2rem 0;

        @include respond(tab-port) {
            width: 90%;
            display: inline-block;
        }
    }

    &-text {
        @include black-box;
        display: inline-block;
        padding: 1rem 2rem;
        width: 95%;

        @include respond(tab-port) {
            width: 90%;
        }
    }
}
