.modal {
    position: fixed;
    top: 0;
    width: 100.1%;
    height: 100vh;
    background-color: $color-bg-modal;
    z-index: 100;
    // display: none;

    &-nav {
        &-text-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35%;
        }

        &-head {
            @include black-box;
            padding: 1rem;
            margin-bottom: 2rem;
        }

        &-list {
            @include black-box;
            padding: 5rem 0;

            &-item {
                display: block;
                &:not(:last-child) {
                    margin-bottom: 5rem;
                }

                &:hover,
                &:focus {
                    cursor: pointer;

                    &::before {
                        content: "\25b6";
                        display: inline-block;
                        margin-right: 1rem;
                        // overflow: hidden;
                    }
                }
            }
        }
    }

    &-about {
        &-header {
            @include black-box;
            position: relative;
            display: inline-block;
            // width: max-content;
            padding: 1.5rem 2rem;
            margin-bottom: 3rem;
        }

        &-text-box {
            @include black-box;
            height: 70vh;
            overflow-y: scroll;
            padding: 3rem;

            &-image {
                display: inline-block;
                width: 20rem;
                border: 3px solid $color-card-border;
                margin: 3rem 0;
                position: relative;

                &:nth-child(2) {
                    z-index: 100;
                }

                &__img {
                    display: block;
                    width: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 150;
                }

                .shimmer {
                    @include shimmer;
                }
            }
        }
    }
}

.hide {
    display: none;
}
