.section-card-display {
    margin-top: 10rem;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pkmn-card {
    // border: 1rem solid $color-card-border;
    // border-radius: 1.5rem;
    @include pixel-borders($corner-size: 2, $border-size: 1rem, $border-color: $color-card-border);
    width: 60%;

    &-top {
        border-bottom: 1rem solid $color-card-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        position: relative;
        z-index: -1;

        .shimmer {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            overflow-y: hidden;

            background: linear-gradient(
                100deg,
                $color-holo-shimmer1 20%,
                $color-holo-shimmer2 50%,
                $color-holo-shimmer1 80%
            );

            animation: shimmer 4s infinite linear;
        }
    }

    &-icon-box {
        display: flex;
        gap: 1.5rem;
        z-index: 10;
    }

    &-name {
        @include black-box;
        // @include pixel-box($corner-size: 2, $background-color: #fff);
        width: max-content;
        padding: 1rem 3rem;
        z-index: 10;
    }

    &-type {
        @include black-box;
        padding: 3rem;
        position: relative;

        &-ctnr {
            width: 5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-icon {
            width: 100%;
            object-fit: cover;
            display: block;
            border-radius: 50%;
            padding: 0.7rem;
        }
    }

    &-image {
        width: 50%;
        z-index: 10;

        &__img {
            width: 100%;
            display: block;
        }
    }

    .stats {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        height: 6rem;
        position: relative;
        top: -3rem;
        margin-bottom: -6rem;

        &-box {
            @include black-box;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2rem;

            &-icon {
                width: 3rem;

                &__img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    &-btm {
        background-color: $color-card-btm;
        padding: 5rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: -1;

        .move {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;
            gap: 2rem;
            width: 90%;

            &-info,
            &-side-class,
            &-side-power {
                @include black-box;
                padding: 1rem;
            }

            &-info {
                width: 70%;
                padding: 1rem 2rem;

                &__type {
                    margin-bottom: 2rem;
                }
            }

            &-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-class {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 2rem;
                    &-icon {
                        width: 4rem;

                        &__img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
