.section-card-display {
    margin-top: 10rem;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pkmn-card {
    // @include pixel-borders($corner-size: 2, $border-size: 1rem, $border-color: $color-card-border);
    border: 1rem solid $color-card-border;
    // background-color: #fff;
    border-radius: 5px;

    // width: 60%;
    display: flex;
    position: relative;

    &-top {
        border-right: 1rem solid $color-card-border;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        position: relative;
        z-index: -1;

        .shimmer {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            overflow-y: hidden;

            background: linear-gradient(
                100deg,
                $color-holo-shimmer1 20%,
                $color-holo-shimmer2 50%,
                $color-holo-shimmer1 80%
            );

            animation: shimmer 4s infinite linear;
        }
    }

    &-icon-box {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        z-index: 10;
        margin-bottom: 8rem;
    }

    &-name {
        @include black-box;
        // @include pixel-box($corner-size: 2, $background-color: #fff);
        width: max-content;
        // width: 80%;
        padding: 1rem 2rem;
        // margin: 0 5rem;
        z-index: 10;
    }

    &-type {
        @include black-box;
        border-radius: 50%;
        padding: 3rem;
        position: relative;

        &-ctnr {
            width: 5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-icon {
            width: 100%;
            object-fit: cover;
            display: block;
            border-radius: 50%;
            padding: 0.7rem;
        }
    }

    &-image {
        // width: 50%;
        width: 60%;
        z-index: 10;

        &__img {
            width: 100%;
            display: block;
        }
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-60%, -50%);
        // height: 6rem;
        // left: -3rem;
        // margin-right: -6rem;

        &-box {
            @include black-box;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;

            &-icon {
                width: 3rem;

                &__img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    &-btm {
        background-color: $color-card-btm;
        // padding: 5rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 3rem;
        z-index: -1;
        width: 60%;

        .move {
            display: flex;
            // flex-direction: column;
            justify-content: space-around;
            gap: 2rem;
            width: 90%;

            &:first-child {
                margin-bottom: 2rem;
            }

            &-info,
            &-side-class,
            &-side-power {
                @include black-box;
                padding: 1rem;
            }

            &-info {
                width: 100%;
                // padding: 1rem 2rem;

                &__type {
                    margin-bottom: 2rem;
                }
            }

            &-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                &-class {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // margin-bottom: 2rem;
                    &-icon {
                        width: 3rem;

                        &__img {
                            width: 100%;
                            display: block;
                        }
                    }
                }

                &-power {
                    &-value {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}
