.section-card-display {
    margin-top: 10rem;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pkmn-card {
    border: 1rem solid $color-card-border;
    border-radius: 5px;
    display: flex;
    position: relative;

    &-top {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        position: relative;
        z-index: -1;

        .shimmer {
            @include shimmer;
        }
    }

    &-icon-box {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        z-index: 10;
        margin-bottom: 8rem;
    }

    &-name {
        @include black-box;
        width: max-content;
        padding: 1rem 2rem;
        z-index: 10;

        @include respond(tab-land) {
            width: 80%;
        }
    }

    &-type {
        @include black-box;
        border-radius: 50%;
        padding: 3rem;
        position: relative;

        &-ctnr {
            width: 5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-icon {
            width: 100%;
            object-fit: cover;
            display: block;
            border-radius: 50%;
            padding: 0.7rem;
        }
    }

    &-image {
        width: 60%;
        z-index: 10;

        &__img {
            width: 100%;
            display: block;
        }
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: absolute;
        top: 50%;
        left: 41%;
        transform: translate(-61%, -50%);

        @include respond(tab-land) {
            top: 53%;
        }

        &-box {
            @include black-box;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;

            &-icon {
                width: 3rem;

                &__img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    &-btm {
        background-color: $color-card-btm;
        border-left: 1rem solid $color-card-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 3rem;
        z-index: -1;
        width: 60%;

        .move {
            display: flex;
            justify-content: space-around;
            gap: 2rem;
            width: 90%;

            &:first-child {
                margin-bottom: 2rem;
            }

            &-info,
            &-side-class,
            &-side-power {
                @include black-box;
                padding: 1rem;
            }

            &-info {
                width: 100%;

                &__type {
                    margin-bottom: 2rem;
                }
            }

            &-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                &-class {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &-icon {
                        width: 3rem;

                        &__img {
                            width: 100%;
                            display: block;
                        }
                    }
                }

                &-power {
                    &-value {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}
