html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Pokemon Solid";
    src: url(../assets/fonts/Pokemon-Solid.ttf);
}

body {
    color: $color-text;
    font-family: $font-family-main;
    line-height: 1.7;
    background-image: url(../assets/background-main.jpg);
    background-size: cover;
    background-attachment: fixed;

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;

        @include respond(tab-land) {
            max-width: 889px;
        }
    }
}
