.navbar {
    font-family: $font-family-special;
    font-size: $font-size-regular;
    -webkit-text-stroke: 0.2rem $color-text-line-special;
    -webkit-text-fill-color: $color-text-fill-special;
    letter-spacing: 0.3rem;
    text-align: center;

    &-logo {
        -webkit-text-stroke: 0.2rem $color-text-line-special;
        -webkit-text-fill-color: $color-text-fill-special;
        text-decoration: none;
    }

    &-list {
        list-style: none;
    }
}

.header {
    text-align: center;
    &-main {
        font-size: $font-size-header;
        font-family: $font-family-special;
        -webkit-text-stroke: 0.2rem $color-text-line-special;
        -webkit-text-fill-color: $color-text-fill-special;
        letter-spacing: 0.6rem;
    }

    &-text {
        font-size: $font-size-header-text;
    }
}

.section {
    &-card-display {
        text-align: center;

        .pkmn-card {
            &-name {
                font-size: $font-size-card-header;
                text-transform: capitalize;
                text-align: center;
            }

            .stats-box-value {
                font-size: $font-size-card-text;
            }

            .move {
                &-info {
                    text-align: center;

                    &__name {
                        font-size: $font-size-card-header;
                        text-transform: capitalize;
                    }

                    &__type {
                        font-size: $font-size-card-text;
                        text-transform: capitalize;
                    }

                    &__desc {
                        font-size: $font-size-card-text;
                    }
                }

                &-side {
                    &-class-heading,
                    &-power-heading {
                        font-size: $font-size-card-header;
                    }

                    &-power-value {
                        font-size: $font-size-card-text;
                    }
                }
            }
        }
    }
}
