.btn {
    &-menu,
    &-back {
        font-family: $font-family-main;
        font-size: $font-size-header-text;
        text-transform: uppercase;
    }
}

.modal {
    &-nav {
        text-align: center;
        font-size: $font-size-modal-heading;

        &-head {
            text-transform: uppercase;
            font-size: $font-size-modal-heading;
        }

        &-list {
            list-style: none;
            font-size: 0;

            &-button {
                font-size: $font-size-modal-heading;
                font-family: $font-family-main;
            }
        }
    }

    &-about,
    &-credits {
        text-align: center;

        &-head {
            font-size: $font-size-modal-heading;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &-text-box {
            font-size: $font-size-modal-text;

            &__info-link {
                text-decoration: none;
                color: $color-text;
            }
        }
    }

    &-legend {
        text-align: center;

        &-head {
            font-size: $font-size-modal-heading;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &-text-box {
            &-sub-head {
                font-size: $font-size-modal-heading;

                @include respond(tab-port) {
                    font-size: 1rem;
                }
            }

            &-symbols {
                font-size: $font-size-modal-text;

                @include respond(phone) {
                    font-size: 1rem;
                }
                &-type {
                    &-text {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.header {
    text-align: center;
    &-main {
        font-size: $font-size-heading;
        font-family: $font-family-special;
        -webkit-text-stroke: 0.2rem $color-text-line-special;
        -webkit-text-fill-color: $color-text-fill-special;
        letter-spacing: 0.6rem;
    }

    &-text {
        font-size: $font-size-header-text;
    }
}

.section {
    &-card-display {
        text-align: center;

        .pkmn-card {
            &-name {
                font-size: $font-size-card-heading;
                text-transform: capitalize;
                text-align: center;
            }

            .stats-box-value {
                font-size: $font-size-card-text;

                @include respond(phone-small) {
                    font-size: 1rem;
                }
            }

            .move {
                &-info {
                    text-align: center;

                    &__name {
                        font-size: $font-size-card-heading;
                        text-transform: capitalize;

                        @include respond(phone-small) {
                            font-size: 1.2rem;
                        }
                    }

                    &__type {
                        font-size: $font-size-card-text;
                        text-transform: capitalize;

                        @include respond(phone-small) {
                            font-size: 1rem;
                        }
                    }

                    &__desc {
                        font-size: $font-size-card-text;

                        @include respond(phone-small) {
                            font-size: 1rem;
                        }
                    }
                }

                &-side {
                    &-class-heading,
                    &-power-heading {
                        font-size: $font-size-card-heading;

                        @include respond(phone-small) {
                            font-size: 1.2rem;
                        }
                    }

                    &-power-value {
                        font-size: $font-size-card-text;

                        @include respond(phone-small) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
