@keyframes shimmer {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90%,
    100% {
        transform: translateX(95%);
        opacity: 0;
    }
}
