// @mixin black-box {
//     @include pixel-box(
//         $corner-size: 1,
//         $border-size: 1rem,
//         $background-color: #fff,
//         $border-color: $color-card-info-border,
//         $border-inset: false,
//         $border-inset-size: false,
//         $border-inset-color: false,
//         $border-inset-sides: false,
//         $border-inset-color-br: false,
//         $border-inset-color-tl: false
//     );
// }

@mixin black-box {
    border: 0.5rem solid $color-card-info-border;
    background-color: #fff;
    border-radius: 5px;
}

@mixin shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow-y: hidden;

    background: linear-gradient(100deg, $color-holo-shimmer1 20%, $color-holo-shimmer2 50%, $color-holo-shimmer1 80%);

    animation: shimmer 4s infinite linear;
}
