@mixin black-box {
    @include pixel-box(
        $corner-size: 1,
        $border-size: 1rem,
        $background-color: #fff,
        $border-color: $color-text,
        $border-inset: false,
        $border-inset-size: false,
        $border-inset-color: false,
        $border-inset-sides: false,
        $border-inset-color-br: false,
        $border-inset-color-tl: false
    );
}
