.u-margin-bottom-small {
    margin-bottom: 2rem !important;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;
}

.u-margin-top-medium {
    margin-top: 4rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

// Type BG Color

.bg-bug {
    background-color: $color-type-bug;
}

.bg-bug-gradient {
    background: linear-gradient($color-type-bug, #fff);
}

.bg-dark {
    background-color: $color-type-dark;
}

.bg-dragon {
    background-color: $color-type-dragon;
}

.bg-electric {
    background-color: $color-type-electric;
}

.bg-fairy {
    background-color: $color-type-fairy;
}

.bg-fighting {
    background-color: $color-type-fighting;
}

.bg-fire {
    background-color: $color-type-fire;
}

.bg-flying {
    background-color: $color-type-flying;
}

.bg-ghost {
    background-color: $color-type-ghost;
}

.bg-grass {
    background-color: $color-type-grass;
}

.bg-ground {
    background-color: $color-type-ground;
}

.bg-ice {
    background-color: $color-type-ice;
}

.bg-normal {
    background-color: $color-type-normal;
}

.bg-poison {
    background-color: $color-type-poison;
}

.bg-psychic {
    background-color: $color-type-psychic;
}

.bg-rock {
    background-color: $color-type-rock;
}

.bg-steel {
    background-color: $color-type-steel;
}

.bg-water {
    background-color: $color-type-water;
}
