// Pokemon Type Colours

$color-type-bug: #a6b91a;
$color-type-dark: #705746;
$color-type-dragon: #6f35fc;
$color-type-electric: #f7d02c;
$color-type-fairy: #d685ad;
$color-type-fighting: #c22e28;
$color-type-fire: #ee8130;
$color-type-flying: #a98ff3;
$color-type-ghost: #735797;
$color-type-grass: #7ac74c;
$color-type-ground: #e2bf65;
$color-type-ice: #96d9d6;
$color-type-normal: #a8a77a;
$color-type-poison: #a33ea1;
$color-type-psychic: #f95587;
$color-type-rock: #b6a136;
$color-type-steel: #b7b7ce;
$color-type-water: #6390f0;
