@charset "UTF-8";
@-webkit-keyframes shimmer {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
    opacity: 0;
  }
}
@keyframes shimmer {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
    opacity: 0;
  }
}
.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.bg-bug {
  background-color: #a6b91a;
}

.bg-bug-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a6b91a), to(#fff));
  background: linear-gradient(#a6b91a, #fff);
}

.bg-dark {
  background-color: #705746;
}

.bg-dark-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#705746), to(#fff));
  background: linear-gradient(#705746, #fff);
}

.bg-dragon {
  background-color: #6f35fc;
}

.bg-dragon-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#6f35fc), to(#fff));
  background: linear-gradient(#6f35fc, #fff);
}

.bg-electric {
  background-color: #f7d02c;
}

.bg-electric-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7d02c), to(#fff));
  background: linear-gradient(#f7d02c, #fff);
}

.bg-fairy {
  background-color: #d685ad;
}

.bg-fairy-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#d685ad), to(#fff));
  background: linear-gradient(#d685ad, #fff);
}

.bg-fighting {
  background-color: #c22e28;
}

.bg-fighting-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#c22e28), to(#fff));
  background: linear-gradient(#c22e28, #fff);
}

.bg-fire {
  background-color: #ee8130;
}

.bg-fire-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ee8130), to(#fff));
  background: linear-gradient(#ee8130, #fff);
}

.bg-flying {
  background-color: #a98ff3;
}

.bg-flying-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a98ff3), to(#fff));
  background: linear-gradient(#a98ff3, #fff);
}

.bg-ghost {
  background-color: #735797;
}

.bg-ghost-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#735797), to(#fff));
  background: linear-gradient(#735797, #fff);
}

.bg-grass {
  background-color: #7ac74c;
}

.bg-grass-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#7ac74c), to(#fff));
  background: linear-gradient(#7ac74c, #fff);
}

.bg-ground {
  background-color: #e2bf65;
}

.bg-ground-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#e2bf65), to(#fff));
  background: linear-gradient(#e2bf65, #fff);
}

.bg-ice {
  background-color: #96d9d6;
}

.bg-ice-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#96d9d6), to(#fff));
  background: linear-gradient(#96d9d6, #fff);
}

.bg-normal {
  background-color: #a8a77a;
}

.bg-normal-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a8a77a), to(#fff));
  background: linear-gradient(#a8a77a, #fff);
}

.bg-poison {
  background-color: #a33ea1;
}

.bg-poison-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a33ea1), to(#fff));
  background: linear-gradient(#a33ea1, #fff);
}

.bg-psychic {
  background-color: #f95587;
}

.bg-psychic-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#f95587), to(#fff));
  background: linear-gradient(#f95587, #fff);
}

.bg-rock {
  background-color: #b6a136;
}

.bg-rock-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#b6a136), to(#fff));
  background: linear-gradient(#b6a136, #fff);
}

.bg-steel {
  background-color: #b7b7ce;
}

.bg-steel-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#b7b7ce), to(#fff));
  background: linear-gradient(#b7b7ce, #fff);
}

.bg-water {
  background-color: #6390f0;
}

.bg-water-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#6390f0), to(#fff));
  background: linear-gradient(#6390f0, #fff);
}

.bg-default {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
  background: linear-gradient(#000, #fff);
}

.bg-holo {
  background: linear-gradient(100deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

.pixel-borders {
  position: relative;
  display: inline-block;
  margin: 0 15px 15px 0;
  padding: 15px 20px;
  background-color: #fff;
  font-family: "Press Start 2P", Arial Black, Arial Bold, Arial, sans-serif;
}

.pixel-borders--1 {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--1 {
    border-radius: 14px;
  }
}

.pixel-borders--1-inset {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  position: relative;
}
@supports (border-image-source: none) {
  .pixel-borders--1-inset {
    border-radius: 14px;
  }
}
.pixel-borders--1-inset::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #ddd;
          box-shadow: inset -4px -4px #ddd;
}

.pixel-borders--2 {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--2 {
    border-radius: 20px;
  }
}

.pixel-borders--2-inset {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--2-inset {
    border-radius: 20px;
  }
}
.pixel-borders--2-inset::after {
  border-style: solid;
  border-width: 4px;
  border-color: #ddd;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23ddd' /></svg>");
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  border-image-width: 0 1 1 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@supports (border-image-source: none) {
  .pixel-borders--2-inset::after {
    border-radius: 14px;
  }
}

.pixel-box--light {
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative;
  background-color: #fff;
}
@supports (border-image-source: none) {
  .pixel-box--light {
    border-radius: 14px;
  }
}
.pixel-box--light::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #e6e6e6;
          box-shadow: inset -4px -4px #e6e6e6;
}
.pixel-box--light:hover, .pixel-box--light:focus {
  background-color: #f2f2f2;
}

.pixel-box--primary {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>");
  position: relative;
  background-color: #209cee;
}
@supports (border-image-source: none) {
  .pixel-box--primary {
    border-radius: 14px;
  }
}
.pixel-box--primary::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #1081cb;
          box-shadow: inset -4px -4px #1081cb;
}
.pixel-box--primary:hover, .pixel-box--primary:focus {
  background-color: #1190e3;
}

.pixel-box--success {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #5b8423;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>");
  position: relative;
  background-color: #92cc41;
}
@supports (border-image-source: none) {
  .pixel-box--success {
    border-radius: 14px;
  }
}
.pixel-box--success::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #77ac2e;
          box-shadow: inset -4px -4px #77ac2e;
}
.pixel-box--success:hover, .pixel-box--success:focus {
  background-color: #85c034;
}

.pixel-box--warning {
  border-style: solid;
  border-width: 4px;
  border-color: #a88f06;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #f7d51d;
}
@supports (border-image-source: none) {
  .pixel-box--warning {
    border-radius: 14px;
  }
}
.pixel-box--warning::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #d9b908;
          box-shadow: inset -4px -4px #d9b908;
}
.pixel-box--warning:hover, .pixel-box--warning:focus {
  background-color: #f2ce09;
}

.pixel-box--error {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #bc361a;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23bc361a' /></svg>");
  position: relative;
  background-color: #e76e55;
}
@supports (border-image-source: none) {
  .pixel-box--error {
    border-radius: 14px;
  }
}
.pixel-box--error::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #e14828;
          box-shadow: inset -4px -4px #e14828;
}
.pixel-box--error:hover, .pixel-box--error:focus {
  background-color: #e45b3f;
}

.pixel-box--light-custom {
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative;
  background-color: #fff;
}
@supports (border-image-source: none) {
  .pixel-box--light-custom {
    border-radius: 14px;
  }
}
.pixel-box--light-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #999, inset 4px 4px #999;
          box-shadow: inset -4px -4px #999, inset 4px 4px #999;
}
.pixel-box--light-custom:hover, .pixel-box--light-custom:focus {
  background-color: #f2f2f2;
}

.pixel-box--primary-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>");
  background-color: #209cee;
}
@supports (border-image-source: none) {
  .pixel-box--primary-custom {
    border-radius: 14px;
  }
}
.pixel-box--primary-custom:hover, .pixel-box--primary-custom:focus {
  background-color: #1190e3;
}

.pixel-box--success-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #5b8423;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>");
  position: relative;
  background-color: #92cc41;
}
@supports (border-image-source: none) {
  .pixel-box--success-custom {
    border-radius: 14px;
  }
}
.pixel-box--success-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 4px 4px #b5dc7d;
          box-shadow: inset 4px 4px #b5dc7d;
}
.pixel-box--success-custom:hover, .pixel-box--success-custom:focus {
  background-color: #85c034;
}

.pixel-box--warning-custom {
  border-style: solid;
  border-width: 4px;
  border-color: #a88f06;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #f7d51d;
}
@supports (border-image-source: none) {
  .pixel-box--warning-custom {
    border-radius: 14px;
  }
}
.pixel-box--warning-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #d9b908, inset 4px 4px #fae367;
          box-shadow: inset -4px -4px #d9b908, inset 4px 4px #fae367;
}
.pixel-box--warning-custom:hover, .pixel-box--warning-custom:focus {
  background-color: #f2ce09;
}

.pixel-box--error-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  position: relative;
  background-color: #e76e55;
}
@supports (border-image-source: none) {
  .pixel-box--error-custom {
    border-radius: 14px;
  }
}
.pixel-box--error-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #e14828;
          box-shadow: inset -4px -4px #e14828;
}
.pixel-box--error-custom:hover, .pixel-box--error-custom:focus {
  background-color: #e45b3f;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(../assets/fonts/Pokemon-Solid.ttf);
}
body {
  color: #000;
  font-family: "Press Start 2P", cursive;
  line-height: 1.7;
  background-image: url(../assets/background-main.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 75em) {
  body .wrapper {
    max-width: 889px;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-menu, .btn-back {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  text-transform: uppercase;
}

.modal-nav {
  text-align: center;
  font-size: 3rem;
}
.modal-nav-head {
  text-transform: uppercase;
  font-size: 3rem;
}
.modal-nav-list {
  list-style: none;
  font-size: 0;
}
.modal-nav-list-button {
  font-size: 3rem;
  font-family: "Press Start 2P", cursive;
}
.modal-about, .modal-credits {
  text-align: center;
}
.modal-about-head, .modal-credits-head {
  font-size: 3rem;
}
.modal-about-text-box, .modal-credits-text-box {
  font-size: 1.4rem;
}
.modal-about-text-box__info-link, .modal-credits-text-box__info-link {
  text-decoration: none;
  color: #000;
}
.modal-legend {
  text-align: center;
}
.modal-legend-head {
  font-size: 3rem;
}
.modal-legend-text-box-sub-head {
  font-size: 3rem;
}
.modal-legend-text-box-symbols {
  font-size: 1.4rem;
}
.modal-legend-text-box-symbols-type-text {
  text-transform: capitalize;
}

.header {
  text-align: center;
}
.header-main {
  font-size: 7rem;
  font-family: "Pokemon Solid", cursive;
  -webkit-text-stroke: 0.2rem #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  letter-spacing: 0.6rem;
}
.header-text {
  font-size: 2rem;
}

.section-card-display {
  text-align: center;
}
.section-card-display .pkmn-card-name {
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
}
.section-card-display .pkmn-card .stats-box-value {
  font-size: 1.2rem;
}
.section-card-display .pkmn-card .move-info {
  text-align: center;
}
.section-card-display .pkmn-card .move-info__name {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.section-card-display .pkmn-card .move-info__type {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.section-card-display .pkmn-card .move-info__desc {
  font-size: 1.2rem;
}
.section-card-display .pkmn-card .move-side-class-heading, .section-card-display .pkmn-card .move-side-power-heading {
  font-size: 1.6rem;
}
.section-card-display .pkmn-card .move-side-power-value {
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  top: 0;
  width: 100.1%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7607843137);
  z-index: 100;
}
.modal-nav-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35%;
}
.modal-nav-head {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.modal-nav-list {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 5rem 0;
}
.modal-nav-list-item:not(:last-child) {
  margin-bottom: 5rem;
}
.modal-nav-list-button {
  display: inline-block;
  border: none;
  background: transparent;
  padding: 1rem;
}
.modal-nav-list-button:hover, .modal-nav-list-button:focus {
  cursor: pointer;
  position: relative;
  right: 1rem;
}
.modal-nav-list-button:hover::before, .modal-nav-list-button:focus::before {
  content: "▶";
  display: inline-block;
  position: relative;
  right: 3rem;
}
.modal-about-head, .modal-credits-head {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
}
.modal-about-text-box, .modal-credits-text-box {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  height: 70vh;
  overflow-y: scroll;
  padding: 3rem;
}
.modal-about-text-box-image, .modal-credits-text-box-image {
  display: inline-block;
  width: 30rem;
  border: 3px solid #3c5aa6;
  margin: 3rem 0;
  position: relative;
}
.modal-about-text-box-image:nth-child(2), .modal-credits-text-box-image:nth-child(2) {
  z-index: 100;
}
.modal-about-text-box-image__img, .modal-credits-text-box-image__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 150;
}
.modal-about-text-box-image .shimmer, .modal-credits-text-box-image .shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow-y: hidden;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.6156862745) 50%, rgba(255, 255, 255, 0) 80%);
  -webkit-animation: shimmer 4s infinite linear;
          animation: shimmer 4s infinite linear;
}
.modal-legend-head {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
  padding: 1.5rem 2rem;
}
.modal-legend-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.modal-legend-text-box-category {
  width: 24%;
}
@media (max-width: 75em) {
  .modal-legend-text-box-category {
    width: 30%;
  }
}
.modal-legend-text-box-sub-head {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 4rem;
}
.modal-legend-text-box-symbols {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  height: 60vh;
  overflow-y: scroll;
}
.modal-legend-text-box-symbols :not(:last-child) {
  margin-bottom: 1.5rem;
}
.modal-legend-text-box-symbols-type-icon {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  width: 10rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0;
  display: inline-block;
}
.modal-legend-text-box-symbols-type-icon__img {
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  padding: 0.7rem;
  z-index: 10;
}
.modal-legend-text-box-symbols-stats-icon, .modal-legend-text-box-symbols-classes-icon {
  width: 5.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.modal-legend-text-box-symbols-stats-icon__img, .modal-legend-text-box-symbols-classes-icon__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.modal-credits-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-y: auto;
}
.modal-credits-text-box__info-link {
  display: inline-block;
  border-bottom: 3px solid #3c5aa6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1rem 0;
}
.modal-credits-text-box__info-link:hover, .modal-credits-text-box__info-link:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.modal-credits-text-box__info-link:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.hide {
  display: none;
}

.header-main {
  text-shadow: 0 1rem 3px #000;
}
.header-text {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 1rem 2rem;
  width: 60%;
}

.section-card-display {
  margin-top: 10rem;
}
.section-card-display .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pkmn-card {
  border: 1rem solid #3c5aa6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.pkmn-card-top {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  position: relative;
  z-index: -1;
}
.pkmn-card-top .shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow-y: hidden;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.6156862745) 50%, rgba(255, 255, 255, 0) 80%);
  -webkit-animation: shimmer 4s infinite linear;
          animation: shimmer 4s infinite linear;
}
.pkmn-card-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  z-index: 10;
  margin-bottom: 8rem;
}
.pkmn-card-name {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem;
  z-index: 10;
}
@media (max-width: 75em) {
  .pkmn-card-name {
    width: 80%;
  }
}
.pkmn-card-type {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  border-radius: 50%;
  padding: 3rem;
  position: relative;
}
.pkmn-card-type-ctnr {
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pkmn-card-type-icon {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 50%;
  padding: 0.7rem;
}
.pkmn-card-image {
  width: 60%;
  z-index: 10;
}
.pkmn-card-image__img {
  width: 100%;
  display: block;
}
.pkmn-card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  left: 41%;
  -webkit-transform: translate(-61%, -50%);
          transform: translate(-61%, -50%);
}
@media (max-width: 75em) {
  .pkmn-card .stats {
    top: 53%;
  }
}
.pkmn-card .stats-box {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.pkmn-card .stats-box-icon {
  width: 3rem;
}
.pkmn-card .stats-box-icon__img {
  width: 100%;
  display: block;
}
.pkmn-card-btm {
  background-color: #c7a008;
  border-left: 1rem solid #3c5aa6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 3rem;
  z-index: -1;
  width: 60%;
}
.pkmn-card-btm .move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  width: 90%;
}
.pkmn-card-btm .move:first-child {
  margin-bottom: 2rem;
}
.pkmn-card-btm .move-info, .pkmn-card-btm .move-side-class, .pkmn-card-btm .move-side-power {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
}
.pkmn-card-btm .move-info {
  width: 100%;
}
.pkmn-card-btm .move-info__type {
  margin-bottom: 2rem;
}
.pkmn-card-btm .move-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.pkmn-card-btm .move-side-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pkmn-card-btm .move-side-class-icon {
  width: 3rem;
}
.pkmn-card-btm .move-side-class-icon__img {
  width: 100%;
  display: block;
}
.pkmn-card-btm .move-side-power-value {
  padding-top: 1rem;
}

.btn-menu, .btn-back {
  border: 0.5rem solid #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: sticky;
  top: 5%;
  left: 87%;
  z-index: 90;
}
.btn-menu:hover, .btn-menu:focus, .btn-back:hover, .btn-back:focus {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.5rem 0.5rem #000;
          box-shadow: 0 0.5rem 0.5rem #000;
  cursor: pointer;
}
.btn-menu:active, .btn-back:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.3rem 0.3rem #000;
          box-shadow: 0 0.3rem 0.3rem #000;
}
.btn-back {
  left: 86%;
}
.btn-new-card {
  all: unset;
  width: 10rem;
  margin: 4rem 0 3rem 0;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-new-card:hover, .btn-new-card:focus {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1.3rem 1rem #000;
          box-shadow: 0 1.3rem 1rem #000;
  cursor: pointer;
}
.btn-new-card:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 1rem 1rem #000;
          box-shadow: 0 1rem 1rem #000;
}
.btn-pokeball {
  width: 100%;
  display: block;
}

.disappear {
  opacity: 0;
}