@-webkit-keyframes shimmer {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  70% {
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
    opacity: 0;
  }
}
@keyframes shimmer {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  70% {
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
    opacity: 0;
  }
}
.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.hide {
  display: none !important;
}

.bg-bug {
  background-color: #a6b91a;
}

.bg-bug-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a6b91a), to(#fff));
  background: linear-gradient(#a6b91a, #fff);
}

.bg-dark {
  background-color: #705746;
}

.bg-dark-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#705746), to(#fff));
  background: linear-gradient(#705746, #fff);
}

.bg-dragon {
  background-color: #6f35fc;
}

.bg-dragon-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#6f35fc), to(#fff));
  background: linear-gradient(#6f35fc, #fff);
}

.bg-electric {
  background-color: #f7d02c;
}

.bg-electric-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7d02c), to(#fff));
  background: linear-gradient(#f7d02c, #fff);
}

.bg-fairy {
  background-color: #d685ad;
}

.bg-fairy-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#d685ad), to(#fff));
  background: linear-gradient(#d685ad, #fff);
}

.bg-fighting {
  background-color: #c22e28;
}

.bg-fighting-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#c22e28), to(#fff));
  background: linear-gradient(#c22e28, #fff);
}

.bg-fire {
  background-color: #ee8130;
}

.bg-fire-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ee8130), to(#fff));
  background: linear-gradient(#ee8130, #fff);
}

.bg-flying {
  background-color: #a98ff3;
}

.bg-flying-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a98ff3), to(#fff));
  background: linear-gradient(#a98ff3, #fff);
}

.bg-ghost {
  background-color: #735797;
}

.bg-ghost-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#735797), to(#fff));
  background: linear-gradient(#735797, #fff);
}

.bg-grass {
  background-color: #7ac74c;
}

.bg-grass-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#7ac74c), to(#fff));
  background: linear-gradient(#7ac74c, #fff);
}

.bg-ground {
  background-color: #e2bf65;
}

.bg-ground-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#e2bf65), to(#fff));
  background: linear-gradient(#e2bf65, #fff);
}

.bg-ice {
  background-color: #96d9d6;
}

.bg-ice-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#96d9d6), to(#fff));
  background: linear-gradient(#96d9d6, #fff);
}

.bg-normal {
  background-color: #a8a77a;
}

.bg-normal-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a8a77a), to(#fff));
  background: linear-gradient(#a8a77a, #fff);
}

.bg-poison {
  background-color: #a33ea1;
}

.bg-poison-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#a33ea1), to(#fff));
  background: linear-gradient(#a33ea1, #fff);
}

.bg-psychic {
  background-color: #f95587;
}

.bg-psychic-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#f95587), to(#fff));
  background: linear-gradient(#f95587, #fff);
}

.bg-rock {
  background-color: #b6a136;
}

.bg-rock-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#b6a136), to(#fff));
  background: linear-gradient(#b6a136, #fff);
}

.bg-steel {
  background-color: #b7b7ce;
}

.bg-steel-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#b7b7ce), to(#fff));
  background: linear-gradient(#b7b7ce, #fff);
}

.bg-water {
  background-color: #6390f0;
}

.bg-water-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#6390f0), to(#fff));
  background: linear-gradient(#6390f0, #fff);
}

.bg-holo {
  background: linear-gradient(100deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(../assets/fonts/Pokemon-Solid.ttf);
}
body {
  color: #000;
  font-family: "Press Start 2P", cursive;
  line-height: 1.7;
}
body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navbar {
  font-family: "Pokemon Solid", cursive;
  font-size: 3rem;
  -webkit-text-stroke: 0.2rem #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  letter-spacing: 0.3rem;
  text-align: center;
}
.navbar-logo {
  -webkit-text-stroke: 0.2rem #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  text-decoration: none;
}
.navbar-list {
  list-style: none;
}

.header {
  text-align: center;
}
.header-main {
  font-size: 6rem;
  font-family: "Pokemon Solid", cursive;
  -webkit-text-stroke: 0.2rem #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  letter-spacing: 0.6rem;
}
.header-text {
  font-size: 2rem;
}

.section-card-display {
  text-align: center;
}
.section-card-display .pkmn-card-name {
  font-size: 2.2rem;
  text-transform: capitalize;
}
.section-card-display .pkmn-card .stats-box-value {
  font-size: 1.4rem;
}
.section-card-display .pkmn-card .move-info {
  text-align: center;
}
.section-card-display .pkmn-card .move-info__name {
  font-size: 2.2rem;
  text-transform: capitalize;
}
.section-card-display .pkmn-card .move-info__type {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.section-card-display .pkmn-card .move-info__desc {
  font-size: 1.4rem;
}
.section-card-display .pkmn-card .move-side-class-heading, .section-card-display .pkmn-card .move-side-power-heading {
  font-size: 2.2rem;
}
.section-card-display .pkmn-card .move-side-power-value {
  font-size: 1.4rem;
}

.navbar {
  background-color: #ff1111;
  padding: 1rem 0 2rem 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.navbar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.section-card-display {
  margin-top: 10rem;
}
.section-card-display .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pkmn-card {
  border: 1rem solid #3c5aa6;
  border-radius: 1.5rem;
  width: 60%;
}
.pkmn-card-top {
  border-bottom: 1rem solid #3c5aa6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  position: relative;
  z-index: 0;
}
.pkmn-card-top .shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow-y: hidden;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.6156862745) 50%, rgba(255, 255, 255, 0) 80%);
  -webkit-animation: shimmer 4s infinite linear;
          animation: shimmer 4s infinite linear;
}
.pkmn-card-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  z-index: 10;
}
.pkmn-card-name {
  border: 0.7rem solid #000;
  border-radius: 1.5rem;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 3rem;
  z-index: 10;
}
.pkmn-card-type {
  border: 0.7rem solid #000;
  border-radius: 1.5rem;
  background-color: white;
  padding: 3rem;
  width: 3rem;
  height: 3rem;
  position: relative;
}
.pkmn-card-type-ctnr {
  width: 5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pkmn-card-type-icon {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 50%;
  padding: 0.7rem;
}
.pkmn-card-image {
  width: 50%;
  z-index: 10;
}
.pkmn-card-image__img {
  width: 100%;
  display: block;
}
.pkmn-card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  height: 6rem;
  position: relative;
  top: -3rem;
  margin-bottom: -6rem;
}
.pkmn-card .stats-box {
  border: 0.7rem solid #000;
  border-radius: 1.5rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.pkmn-card .stats-box-icon {
  width: 3rem;
}
.pkmn-card .stats-box-icon__img {
  width: 100%;
  display: block;
}
.pkmn-card-btm {
  background-color: #c7a008;
  padding: 5rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pkmn-card-btm .move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
  gap: 2rem;
  width: 90%;
}
.pkmn-card-btm .move-info, .pkmn-card-btm .move-side-class, .pkmn-card-btm .move-side-power {
  border: 0.7rem solid #000;
  border-radius: 1.5rem;
  background-color: white;
  padding: 1rem;
}
.pkmn-card-btm .move-info {
  width: 70%;
  padding: 1rem 2rem;
}
.pkmn-card-btm .move-info__type {
  margin-bottom: 2rem;
}
.pkmn-card-btm .move-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pkmn-card-btm .move-side-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.pkmn-card-btm .move-side-class-icon {
  width: 4rem;
}
.pkmn-card-btm .move-side-class-icon__img {
  width: 100%;
  display: block;
}

.btn-new-card {
  all: unset;
  width: 10rem;
  margin: 4rem 0 3rem 0;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-new-card:hover, .btn-new-card:focus {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1.3rem 1rem #000;
          box-shadow: 0 1.3rem 1rem #000;
}
.btn-new-card:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 1rem 1rem #000;
          box-shadow: 0 1rem 1rem #000;
}
.btn-pokeball {
  width: 100%;
  display: block;
}